@model IEnumerable<WIPSystem.Web.Models.Department>

@{
    ViewBag.Title = "Department Index";
}

<div class="container-fluid" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-uppercase" style="font-weight: bold;">Department Index</h1>
            <div class="text-end">
                <a asp-action="Create" class="btn" style="background-color:#D1EDF4; color: black; border-color:#D1EDF4; font-weight: bold;">
                    <i class="bi bi-plus-circle"></i> New Department
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="departmentsTable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                            <td style="width: 8%;">
                                <a asp-action="Edit" asp-route-DepartmentId="@item.DepartmentId" class="btn btn-warning rounded-circle d-inline-flex justify-content-center align-items-center"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="Edit"
                                   style="width: 35px; height: 35px; padding: 0; margin-right: 10px;">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a asp-action="Delete" asp-route-DepartmentId="@item.DepartmentId" class="btn btn-danger rounded-circle d-inline-flex justify-content-center align-items-center"
                                   data-toggle="tooltip" data-placement="top" title="Delete" style="width: 35px; height: 35px; padding: 0; margin-right: 10px;">
                                    <i class="bi bi-trash"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            // Initialize DataTable or any other scripts if needed
            $('#departmentsTable').DataTable({
                // DataTables configuration
            });
        });
    </script>
}
