@{
    Layout = "_Layout"; // Or your layout file, or set to null if you don't want to use a layout
}

<h1>Access Denied</h1>
<p>You do not have permission to access this page. If you believe this is an error, please contact your administrator.</p>
